:root{
    --primary--iris-color:#4D5AE5;
    --button-ocean-color:#404BBF;
    --dark--navy-color:#2E2F42; 
    --success-green-color:#31D0AA;
    --text-slate-color:#434455;
    --subtle-lslate-color:#8E8F99;
    --accent-corn-color:#E7E9FC;
    --light-cloud-color:#F4F4FD;
    --navy-blue-modal-color:#2E2F42;
    --grey-hero-background:#2E2F42;
    --white-background:#FFFFFF;
    --dairy-modal-background:#FCFCFC; 

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-background);
    color: var(--text-slate-color);
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    }

h1{
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height:1.07em; 
}

h2{
    font-weight: bold;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
}

a{
    cursor: pointer;
    font-weight: 400;
    font-style: normal;
}

a:hover{
color: var(--text-slate-color);
}
a:focus{}

button{
    cursor: pointer;
    background-color: var(--accent-corn-color);

}

button:hover {
background-color: var(--button-ocean-color);
}

.link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

.link:hover {}

.link:focus {}

.list {
    list-style: none;
}


/* -------Header ----------- */
.header {}

.header-logo {
    color: var(--primary--iris-color);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}
.header-logo span{
    color: var(--dark--navy-color);
}

.header-list-item {
    color: var(--dark--navy-color);
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}

.header-menu-link:focus{
    color: var(--button-ocean-color);
}

.header-menu-link:hover{
    color: var(--button-ocean-color);  
}

.header-address-item-link {
    font-style: normal;
    color: inherit;
}
.header-address-item-link:hover {
    color: var(--button-ocean-color);
    text-decoration: underline;
    font-style: normal;
}

.header-address-item-link:focus{
    color: var(--button-ocean-color);
}

/* -----------HERO--------------------- */
.hero {
background-color: var(--navy-blue-modal-color);
}

.hero-title {
    color: var(--white-background);
    text-align: center;
}

.hero-btn {
   background-color: var(--primary--iris-color);
   color: var(--white-background);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: inherit;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    }
.hero-btn:focus{
    background-color: var(--button-ocean-color);
}

    /*--------ATTRIBUTES----------  */

.attributes-titel {
    color:var(--navy-blue-modal-color);
}

.attributes-text {
    color: var(--text-slate-color);
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: 0.02em;
}

/* -----------PRODUCTS--------- */
.products-titel {
    color: var(--navy-blue-modal-color) ;
    text-align: center;
}

.products-list-item {
    background-color: var(--accent-corn-color);
}

/* -----------TEAM-------------------- */
.team {
    background-color: var(--light-cloud-color);
}

.team-title {
    color: var(--navy-blue-modal-color);
    text-align: center;
}
.team-list-list{
    background-color: var(--white-background);
}

.team-list-name {
    color: var(--navy-blue-modal-color);
}

.team-list-decription {}

/* --------FOOOTER--------------------- */
.footer {
    background-color:var(--navy-blue-modal-color);
}

.footer-link {
    color:var(--primary--iris-color);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-link span {
 color: var(--light-cloud-color);
}

.footer-text {
    color: var(--light-cloud-color);
    }

    /* --------PORTFOLIO------------ */


    /* ----------FILTER LIST BUTTONS */
.filter-list-btn{
font-family: 'Roboto' sans-serif;
color: var(--primary--iris-color);
background-color: var(--light-cloud-color);
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5em;
letter-spacing: 0.04em;
}

.filter-list-btn:hover {
    color: var(--white-background);
}

.filter-list-btn:focus{
    color: var(--white-background);
    background-color: var(--button-ocean-color);
}

.filter-list {}


.filter-list-item {}

.filter-list-btn {}

/* ----------APPS---------------------- */
.apps {}

.apps-list {}

.apps-list-item {}

.apps-list-img {}

.apps-list-titel {
    color: var(--navy-blue-modal-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
}

.apps-list-desc {
    color: var(--text-slate-color);
    
    
}