:root {
  --main-cl: #212121;
  --light-cl: #ffffff;
  --dark-cl: #000000;
  --accent-cl: #2196f3;
  --gray-cl: #757575;
  --dark-bg-cl: #2f303a;
  --accent-bg-cl: #188ce8;
  --grey-bg-cl: #f5f4fa;
}

/* base styles */
body {
  font-family: Roboto, sans-serif;
  color: var(--main-cl);
}
.link {
  text-decoration: none;
  font-style: normal;
  color: var(--gray-cl);
}

.list {
  list-style: none;
}

/* header styles  */
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}
.header-logo-dark {
  color: var(--dark-cl);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-cl);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-cl);
}
.contacts-link {
  color: var(--gray-cl);
}

/*Hero styles*/
.hero {
  background-color: var(--dark-bg-cl);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-cl);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-cl);
  background-color: var(--accent-cl);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-bg-cl);
}
/*Features Styles*/
.features-title {
  visibility: hidden;
}

.features-subtitle {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-desc {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--gray-cl);
}

/*Service-name Styles*/
.service-name {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-cl);
}

/*Team Styles*/

.team-name {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--main-cl);
}

.member-name {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--main-cl);
}

.member-position {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--gray-cl);
}

/*Footer Styles*/
.footer {
  background-color: var(--dark-bg-cl);
  color: var(--light-cl);
}

.mail-item {
  text-decoration: none;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}

.footer-logo-light {
  color: var(--light-cl);
}

.address-kiev {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--light-cl);
}

/*Portfolio Styles*/

.button-item:hover {
  background-color: var(--accent-bg-cl);
  color: var(--light-cl);
}

.button-list .button-item:focus {
  color: var(--accent-cl);
}
.button-item {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--grey-bg-cl);
  cursor: pointer;
}

.project-name {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-cl);
}

.project-type {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--gray-cl);
}
